<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<h1>listagem de usuarios</h1>
<div class="container">

    <hr>
    <h2>Usuários</h2>
    <a href="/admin/users/create" class="btn btn-success"> Criar novo usuário</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>               
              
            </tr>
        </thead>
        <tbody>

            <% users.forEach(user=> { %>
                <tr>
                    <td> <%= user.id %> </td>
                    <td><%= user.email %>  </td>
                    
                </tr>
                
            <% }) %>
            
            
        </tbody>
    </table>








    <!-- <div class="card">

        <div class="card-header">

            <h3>Usuarios cadastrados</h3>      
        </div>

        <% users.forEach( user =>{ %>
            <div class="card-body">
                <input class="form-control" type="text" value=" <%= user.email %>"> <br>
                <input class="form-control" type="text" value=" <%= user.password %>"> <br>
                
            </div>

        <% }) %>  -->
        
    
</div>


<%- include('../../partials/footer.ejs') %>